.gitignore     export-ignore
.gitattributes export-ignore

# Files & folders that should not be included in production.
/.github/        export-ignore
/docs/           export-ignore
/test_runner.py  export-ignore
/tests/          export-ignore
/tox.ini         export-ignore
